<!-- show the login form -->
<div ng-show="nav.isLogin">
  <form class="well contaner" ng-submit="nav.login()">
      <label>Username</label>
      <input class="form-control" placeholder="Username..." ng-model="nav.user.username">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password..." ng-model="nav.user.password">
      <div style="text-align: center;">
        <button type="button" ng-click="nav.isLogin = false;" class="btn btn-primary">Register</button>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
  </form>
</div>

<!-- show register form -->
<div ng-show="!nav.isLogin">
  <form class="well contaner" ng-submit="nav.register()">
      <label>Username</label>
      <input class="form-control" placeholder="Username..." ng-model="nav.user.username">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Username..." ng-model="nav.user.email">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password..." ng-model="nav.user.password">
      <div style="text-align: center;">
        <button type="submit" class="btn btn-info">Submit</button>
        <button type="button" ng-click="nav.isLogin = true;" class="btn btn-primary">Login</button>

      </div>
  </form>
</div>
