<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/css/site.css">


</head>
<body ng-controller="GlobalController as nav">
	<div class="well container" style="text-align: center;">
	<button type="button" class="btn btn-success" ng-show="!nav.status.username" ui-sref="Login_Register">Login</button>
	<button type="button" class="btn btn-danger" ng-show="nav.status.username" ng-click="nav.logout()">Log Out</button>
	<button type="button" class="btn btn-info" ui-sref="CreatePost">Create</button>
	</div>
	<ui-view></ui-view>
	<!-- Ext Libs -->
	<!-- <script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="/js/jsBundle.min.js"></script>

	<!-- Global Src -->
	<!-- <script src="/javascript/app.js"></script>
	Factories
	<! <script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/AuthInterceptor.js"></script>


	<! Controllers -->
	<!-- <script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/CreatePostController.js"></script>
	<script src="/javascript/controllers/PostDetailsController.js"></script> -->


</body>
</html>
